body {
	font-family: 'Courier New', monospace;
	background-color: LightGray;
	color: white;
}

img {
	border-radius: 10px;
	border: 5px solid Snow;
}

.section_header {
	background-color: DimGray;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	border: 5px solid Snow;
	font-size: 30px;
}

.intro {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 55px;
	border-radius: 10px;
	border: 5px solid Snow;
	width: 75%;
	padding: 30px;
	margin: 20px;
	background-color: DimGray;
	font-size: 25px;
}

.column {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	justify-content: center;
	align-content: center;
}

.resumebutton {
	display: flex;
	width: 20%;
	border-radius: 10px;
	border: 5px solid Snow;
	background-color: black;
	font-size: 25px;
	height: fill;
	padding: 20px;
	align-content: center;
	justify-content: center;
	align-self: center;
	margin-top: 100px;
	margin-bottom: 100px;
	margin: 30px;
}

.list {
	border-radius: 10px;
	border: 5px solid Snow;
	background-color: DimGray;
	padding: 20px;
	margin-top: 50px;
	margin: 20px;
	font-size: 25px;

}
